@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto:wght@700&family=Work+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #24292E;
}

.nav-menu a,
li {
    /* para poner las categorías en color blanco */
    font-family: 'DM Sans', sans-serif;
    color: rgba(199, 199, 199, 0.74);
}

header {
    /* para separar los contenidos de la lista y categorias */
    background-color: #24292E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    width: 100%;
}

.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-right: 1.5rem;
}

.buscar {
    /* comienzo de buscador */
    position: center;
    padding: 5px;
}

.buscar input {
    width: 0px;
    height: 35px;
    padding: 9px 20px 9px 18px;
    outline: none;
    font-size: 18px;
    text-align: center;
    color: #fff;
    outline: none;
    border: 2px solid #444D56;
    border-radius: 70px;
    background: #24292E url("./Img-index/Lupa.svg") no-repeat 9px center;
    transition: all 0.6s ease;
}


/* Fin del buscador */


/* comienzo de efecto hover - menu de navegacion */

input.src:hover {
    width: 600px;
    background-color: #24292E;
    background: #24292E url("./Img-index/Lupa\ copy.svg") no-repeat 9px center;
    color: #fff;
}

.noti:hover:hover {
    opacity: 100%;
    transition: .1s;
}

.publi:hover:hover {
    opacity: 100%;
    transition: .1s;
}

.perfil:hover:hover {
    opacity: 100%;
    transition: .1s;
}

.hamburguesa:hover:hover {
    opacity: 100%;
    transition: .1s;
}

.link {
    position: relative;
}


/* efecto animacion hover subrayado */

.link::after {
    content: "";
    width: 0%;
    height: 4px;
    background-color: #3D67D2;
    position: absolute;
    bottom: -30%;
    right: 50%;
    transition: all .5s;
}

.link:hover::after {
    width: 100%;
    right: 0%;
}

.link:hover {
    color: #fff;
    transition: .5s;
}

.hover-noti:hover {
    fill-opacity: 100%;
    transition: .5s;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon,
#check {
    display: none;
}

.gif {
    background-position: absolute;
    display: flex;
    justify-content: center;
    height: 1000px;
}


/* SECTION MAIN  - COMIENZO INTRO */

.hero {
    height: 100vh;
    background-image: url("./Img-index/fondo\ intro.svg");
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.hero .info-content {
    grid-column: 3 / 5;
    grid-row: 4 / 9;
}

.info-content h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    color: #fff;
}

.info-content p {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
}

.arte {
    grid-column: 6 / 10;
    grid-row: 2 / 8;
}


/* Comienzo del CTA intro */

button {
    width: 260px;
    height: 64px;
    margin: 0;
    margin-top: 40px;
    position: relative;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background: #3D67D2;
    color: rgba(199, 199, 199, 0.74);
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
}

button span {
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 60%;
    background: #99b6ff48;
    top: -25%;
    left: -100%;
    transition: .3s;
}

button:hover span {
    left: -10%;
}

button:hover {
    color: #fff;
    transition: .5s;
}


/* Fin del CTA intro */


/* Comienzo de INTENTO de galeria */

.vendidos {
    /* section */
    color: #fff;
    font-family: 'Outfit', sans-serif;
    width: 90%;
    max-width: 1400px;
    margin: auto;
}

.vendidos h2 {
    font-size: 15px;
}

.titulo p {
    font-size: 15px;
}

.titulo {
    /* Boton y flechas para ver mas NFTS */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: -70px;
    margin-top: -40px;
    margin-bottom: 20px;
}

.ver {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #fff 2px;
    width: 100px;
    height: 45px;
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
}

.imag {
    margin: 8px;
    cursor: pointer;
}

.encabezado {
    /* Vendidos recientemente */
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: -20px;
}

.fototexto p {
    /* Los articulos */
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    bottom: 10px;
}

.fototexto h2 {
    color: #fff;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.galeria {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.fotos {
    width: 18%;
    position: relative;
    /* Acá para que el contenido de los articulos no se vea y "aparezca desde abajo de la imagen" debería poner hidden, pero cuando lo puse no funciono asi que revisar */
}

.fototexto {
    position: absolute;
    bottom: 14.5%;
    background-color: rgba(0, 0, 0, 0.411);
    height: 90px;
    width: 227px;
    margin-top: 30px;
    padding: 20px;
    margin-left: 31px;
    border-radius: 28px;
    transform: translateY(100%);
    display: none;
}

.fotos:hover .fotofoto {
    transform: scale(1.11);
    transition: all 0.5s ease-in-out;
    z-index: 10;
}

.fotos:hover .fototexto {
    transform: translateY(0%);
    transition: all .5s ease-in-out;
    display: initial;
}


/* Fin de la galería*/